* {
  box-sizing: border-box;
}
html {
  min-width: 500px;
  font-family: 'source sans pro';
}
header {
  display: flex;
  background-color: #dee7e1;
}
header .flower-icon {
  margin-right: 20px;
}
header .menu-bar {
  margin-left: 150px;
  margin-top: 40px;
  cursor: pointer;
}
.pitch {
  background-color: #bbe5cb;
  padding: 5px;
  text-align: center;
}
.pitch h2 {
  font-size: 42px;
}
.pitch .solution {
  font-size: 24px;
  margin-top: -11px;
}
.pitch button {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  background-color: #787f84;
  color: #c1f4c9;
  cursor: pointer;
  font-size: 16px;
}
.pitch button:hover {
  background-color: #bbe5cb;
  color: #787f84;
}
.flower-img {
  display: flex;
  justify-content: center;
}
.flowers-home {
  width: 80%;
  height: 300px;
}
.top-section {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
  border-bottom: 1px solid #787f84;
}
.top-section h3 {
  justify-content: center;
}
.middle-section {
  height: 250px;
  padding: 10px;
  margin-top: 20px;
  border-bottom: 1px solid #787f84;
}
.container {
  background-image: linear-gradient(to bottom right, #787f84, #dee7e1);
}
.bottom-section {
  padding: 10px;
  margin-top: 20px;
}
.bottom-section .bottom-buttons {
  display: flex;
  justify-content: space-around;
}
.bottom-section .bottom-btn {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  background-color: #bbe5cb;
  color: #787f84;
  cursor: pointer;
  font-size: 16px;
}
.bottom-section .bottom-btn:hover {
  background-color: #787f84;
  color: #c1f4c9;
}
footer {
  border-top: 1px solid #787f84;
  text-align: center;
  height: 50px;
}
