
.menu-button {
  cursor: pointer;
  // margin-left: 10rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  
  
  
}

.menu {
  display: none;
  width: 200px;
  height: 150px; 
  background-color: #bbe5cb;

  
  
  li {
    list-style-type: none;
    width: 90px;
    font-size: 16px;
    margin: 10px;
    color: black;
    margin-left: -10px;
  }

}


a {
  text-decoration: none;
  color: #787f84;
}

.menu-open {
  display: block;
  
}
